{
    "support": {
        "servers": {
            "mysql": {
                "type": "MySQL",
                "hostname": "127.0.0.1",
                "username": "root",
                "password": "",
                "options": {
                    "database": "test"
                }
            },
            "sqlite": {
                "type": "SQLite",
                "hostname": "./harmony.sqlite3"
            },
            "postgres": {
                "type": "Postgres",
                "hostname": "127.0.0.1",
                "username": "root",
                "password": "",
                "options": {
                    "database": "test"
                }
            },
            "tsv": {
                "type": "CSV",
                "options": {
                    "delimiter": "\t",
                    "paths": {
                        "customers": "./customers.tsv"
                    }
                }
            },
            "csv": {
                "type": "CSV",
                "options": {
                    "delimiter": ",",
                    "paths": {
                        "customers": "./customers.csv"
                    }
                }
            }
        },
        "objects": {
            "customers": [
                "mysql",
                "sqlite",
                "postgres",
                "tsv",
                "csv"
            ]
        }
    }
}
